* {
    margin: 0;
    padding: 0;
    font-family: 'Instagram', serif;
}

.content {
    width: 65%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.content-info {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.info-pfp img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nickname,
.follower-info,
.acc-descr {
    display: flex;
    padding: 10px;
}

.info-block p {
    padding: 5px 12px;
}

.highlights {
    display: flex;
    padding: 3%;
    align-items: center;
}

.highlights button img {
    width: 40px;
}

.highlight-item,
.highlight-button {
    margin: 0 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid gray;
}

.highlight-item img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.photos-buttons {
    display: flex;
    justify-content: center;
}

.photos-buttons button {
    border: none;
    outline: none;
    background-color: transparent;
}

.photos-buttons div:hover {
    background-color: rgb(216, 216, 216);
    transition: 0.4s;
}

.photos-buttons div {
    margin: 0 15px;
    padding: 2px 10px;
}

.photos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.photo-item {
    height: 220px;
    width: 220px;
    margin: 22px 10px;
}

.photo-item img {
    width: 220px;
    height: 220px;
}

.photo-info {
    display: flex;
    justify-content: space-between;
}

dialog {
    position: absolute;
    width: 200px;
    height: 100px;
    left: 47%;
    top: 47%;
    border-radius: 20px;
}

section input {
    margin: 0 auto;
    padding: 10px 0;
}

menu button {
    width: 120px;
    border: 1px solid black !important;
    border-radius: 0 !important;
    background-color: transparent;
    margin-top: 20px;
    margin-right: 20px;
}

dialog input {
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 2% auto;
}

#photo-add {
    top: 30%;
    left: 40%;
    width: 250px;
    height: 250px;
    padding: 25px;
}

.modal {
    background-color: #ffff;
    border: none;
}

.btn_close {
    border: none;
    border-radius: 5px;
}

.pagination {
    display: flex;
    align-items: center;
    list-style: none;
}

.pagination-list {
    display: flex;
}

.page-item {
    border: 1px solid black;
    padding: 5px;
}

.page-link {
    padding: 5px;
}

a {
    text-decoration: none;
}

p {
    display: flex;
}

.btn_publick,
.save_btn,
.noded_btn {
    display: flex;
}

.btn_publick img,
.noded_btn img {
    width: 24px;
    height: 24px;
}

#photo-edit {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    top: 30%;
}

#photo-edit input {
    width: 90%;
    margin: 0 auto;
}
.edit-section {
    margin: auto 0;
    padding-left: 30px;
    padding-top: 25px;
}

#photo-edit menu {
    padding-left: 60px;
}

#highlight-add {
    width: 300px;
    height: 130px;
}

#highlight-add input {
    width: 90%;
    margin-left: 10px;
    margin-top: 10px;
}

#highlight-add button {
    margin-left: 10px;
    margin-top: 10px;
}
